@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes toggle-me {
    0% {
      opacity: 0;
      top: -100vh;
      transform: translateY(-100%);
    }
    25% {
      opacity: 0.5;
      top: -75vh;
      transform: translateY(-75%);
    }
    50% {
      opacity: 0.75;
      top: -50vh;
      transform: translateY(-50%);
    }
    75% {
      opacity: 1;
      top: -25vh;
      transform: translateY(-25%);
    }
    100% {
      opacity: 1;
      top: 100px;
      transform: translateY(0);
    }
  }

  .toggle {
    @apply flex opacity-0;
    animation: toggle-me 0.35s ease-in-out 1 forwards;
  }
}
